body {
  transition:background 200ms ease;  
  font-size:2vw;
  font-family:Menlo, monospace;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: pink;
  }
  
  
  .copy {
    position:absolute;
    bottom:0;
  }
  
}

img {
    max-width: 100%;
    height: auto;
}


@media only screen and  (min-width: 601px) {
  body {
    padding:10vw;
  }
  

  
}