
#home {
	
	background:url("img/IMG_1132.JPG");
	background-size:cover;

}

#pageOne {
	
	background:url("img/IMG_1125.JPG");
	background-size:cover;

}

#pageTwo {
	
	background:url("img/IMG_1177.JPG");
	background-size:cover;

}

#pageThree {
	
	background:url("img/IMG_1142.JPG");
	background-size:cover;

}