
body{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.letter {
  position:relative;
  float:left;
  width:135px;
  height:160px;
  margin-right:10px;
/*   margin-bottom:100px; */
}

.letter div {
   position:absolute;
}

.ascender {
  width:3px;
  height:150px;
  background:white;
}

.aLeft {
  left:24px; 
}

.aRight {
  left:-34px; 
  width: 37px;
}
.atopcrossbar {
  width:87px;
  height:3px;
  background:white;
  left: -120px;
}
.abottomcrossbar {
  width:107px;
  height:3px;
  background:white;
  right: -120px;
  left: -1px;
  top:76px;
}

.bascender {
  width:3px;
  height:150px;
  background:white;
}

.bLeft {
  left:124px; 
}

.bRight {
  left:11px; 
  width: 37px;
}
.btopcrossbar {
  width:99px;
  height:3px;
  background:white;
  left: 25px;
}
.bbottomcrossbar {
  width:107px;
  height:3px;
  background:white;
  left: -5px;
  top:76px;
}

.bbottomcrossbar2 {
  width:107px;
  height:3px;
  background:white;
  left: -8px;
  top:147px;
}

.cRight {
  left:135px; 
  width: 37px;
}

.ctopcrossbar {
  width:99px;
  height:3px;
  background:white;
  left: 171px;
}

.cbottomcrossbar {
  width:107px;
  height:3px;
  background:white;
  left: -5px;
  top:147px;
}

.dascender {
  width:3px;
  height:150px;
  background:white;
}

.dLeft {
  left:417px; 
}

.dRight {
  left:282px; 
  width: 37px;
}
.dtopcrossbar {
  width:99px;
  height:3px;
  background:white;
  left: 318px;
}
.dbottomcrossbar {
  width:107px;
  height:3px;
  background:white;
  left: -5px;
  top:147px;
}
.eRight {
  left:430px; 
  width: 37px;
}
.etopcrossbar {
  width:107px;
  height:3px;
  background:white;
  left: 465px;
}
.ebottomcrossbar {
  width:83px;
  height:3px;
  background:white;
  left: -33px;
  top:76px;
}

.ebottomcrossbar2 {
  width:113px;
  height:3px;
  background:white;
  left: -5px;
  top:147px;
}

.fRight {
  left:583px; 
  width: 37px;
}
.ftopcrossbar {
  width:99px;
  height:3px;
  background:white;
  left: 618px;
}
.fbottomcrossbar {
  width:83px;
  height:3px;
  background:white;
  left: -33px;
  top:76px;
}

.gascender {
  width:3px;
  height:150px;
  background:white;
}

.gLeft {
  top:78px;
  left: 251px;
  height: 72px 
}

.gRight {
  left:109px; 
  width: 37px;
}
.gtopcrossbar {
  width:101px;
  height:3px;
  background:white;
  left: 145px;
}
.gbottomcrossbar {
  left: 54px;
  width: 55px;
  height: 3px;
  background: white;
  top:76px;
}

.gbottomcrossbar2 {
  width:107px;
  height:3px;
  background:white;
  left: 0px;
  top:147px;
}
