body{
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
.letter {
  position:relative;
  float:left;
  width:135px;
  height:160px;
  margin-right:10px;
  margin-bottom:10px;
}

.letter div {
   position:absolute;
}

.ascender {
  width:3px;
  height:150px;
  background:white;
}

.aLeft {
  /*left:141px; */
  left:117px; 
}

.aRight {
  /*left:-119px; */
  width: 38px;
  background-color: white;

}
.atopcrossbar {
  width:79px;
  height:3px;
  background:white;
  /*left: -82px;*/
  left:38px; 
}
.abottomcrossbar {
  width:79px;
  height:3px;
  background:white;
  right: -120px;
  left: 0px;
  top:76px;
}

.a.letter:hover .abottomcrossbar {
     top:110px;
}

.bascender {
  width:3px;
  height:150px;
  background:white;
}

.bLeft {
  /*left:124px; */
  left: 110px;
}

.bRight {
  /*left:0px; */
  width: 37px;
  background-color: white;
}
.btopcrossbar {
  width:79px;
  height:3px;
  background:white;
  /*left: 37px;*/
  left: 30px;
}
.bbottomcrossbar {
  width:78px;
  height:3px;
  background:white;
  /*left: 0px;*/
  /*top:76px;*/
  top: 76px;
  left: 3px;
}

.b.letter:hover .bbottomcrossbar {
     top:110px;
}

.bbottomcrossbar2 {
  width:78px;
  height:3px;
  background:white;
  /*left: 0px;*/
  /*top:147px;*/
 top: 147px;
 left: 2px;
}

.cRight {
  /*left:0px; */
  width: 37px;
}

.ctopcrossbar {
  width:99px;
  height:3px;
  background:white;
  /*left: 35px;*/
  left: 20px;
}

.cbottomcrossbar {
  width:107px;
  height:3px;
  background:white;
  /*left: -5px;*/
  /*top:147px;*/
  left: 9px;
  top:147px;
}

.dascender {
  width:3px;
  height:150px;
  background:white;
}

.dLeft {
  /*left:187px; */
  left: 120px;
}

.dRight {
  /*left:56px;*/ 
  width: 37px;
}
.dtopcrossbar {
  width:99px;
  height:3px;
  background:white;
  /*left: 88px;*/
  left: 20px;
}
.dbottomcrossbar {
  width:107px;
  height:3px;
  background:white;
  /*left: -5px;*/
  /*top:147px;*/
  top:147px;
  left: 15px;
}
.eRight {
  /*left:90px; */
  width: 37px;
}
.etopcrossbar {
  width:107px;
  height:3px;
  background:white;
  /*left: 125px;*/

}
.ebottomcrossbar {
  width:83px;
  height:3px;
  background:white;
  /*left: -33px;*/
  /*top:76px;*/
  top:76px;
}

.e.letter:hover .ebottomcrossbar {
     top:110px;
}

.ebottomcrossbar2 {
  width:113px;
  height:3px;
  background:white;
  /*left: 33px;*/
  /*top:71px;*/
  top: 147px; 
}

.fRight {
  /*left:123px;*/ 
  width: 37px;
}
.ftopcrossbar {
  width:99px;
  height:3px;
  background:white;
  /*left: 158px;*/
}
.fbottomcrossbar {
  width:83px;
  height:3px;
  background:white;
  /*left: -33px;*/
  /*top:76px;*/
  top: 76px;
}

.f.letter:hover .fbottomcrossbar {
     top:110px;
}
.gascender {
  width:3px;
  height:150px;
  background:white;
}

.gLeft {
  /*top:78px;*/
  /*left: 251px;*/
  height: 78px; 
 left:107px;
 top: 71px;

}

.gRight {
  /*left: 130px;*/ 
  width: 37px;

}
.gtopcrossbar {
  width:101px;
  height:3px;
  background:white;
  /*left: 145px;*/
}

.gbottomcrossbar {
  /*left: 55px;*/
  width: 55px;
  height: 3px;
  background: white;
  /*top:77px;*/
  top: 70px;
  left: 55px;
}

.g.letter:hover .gbottomcrossbar {
     top:110px;
}

.gbottomcrossbar2 {
  width:107px;
  height:3px;
  background:white;
  /*left: -56px;*/
  /*top:70px;*/
  top:147px;
  left: 3px;
}

.hascender {
  width:3px;
  height:150px;
  background:white;
}

.hLeft {
  /*left:260px; */
  left: 119px;
}

.hRight {
  /*left:138px; */
  width: 37px;
}
.htopcrossbar {
  width:99px;
  height:2px;
  background:white;
  /*left: 160px;*/
  /*top:78px;*/
  top:80px;
  left: 20px;
}

.h.letter:hover .htopcrossbar {
     top:110px;
}

.iRight {
  /*left:160px; */
  width: 37px;
  left: 1px;
}

.jLeft {
  /*left:110px;*/
  height: 23px;
  /*bottom: 10px; */
  left: -30px;
  top: 125px;
}

.j.letter:hover .jLeft {
     top:110px;
}

.jRight {
  /*left:140px; */
  width: 37px;
}
.jtopcrossbar {
  width:65px;
  height:3px;
  background:white;
  /*left: 110px;*/
  /*top:147px;*/
  top:147px;
  right:100px;
}

.kRight {
  /*left:-1450px; */
  width: 37px;
  /*top:220px;*/
}

.ktopcrossbar {
  width:97px;
  height:2px;
  background:white;
  /*left: -1450px;*/
  /*top:289px;*/
  transform: skew(0deg, -54deg);
  left: 11px;
  top:68px;
}

.kbottomcrossbar {
  width:44px;
  height:4px;
  background:white;
  /*left: 24px;*/
  /*top:28px;*/
  transform: skew(0deg, 57deg);
  left: 28px;
  top: 115px;
}

.lRight {
  /*left:-1440px; */
  width: 37px;
  /*top:218px;*/
}

.lbottomcrossbar {
  width:107px;
  height:3px;
  background:white;
  /*left: -1420px;*/
  /*top:365px;*/
  top:147px;
}

.mLeft {
  left:125px;
  /*left:455px;*/ 
  /*top: 60px;*/
}

.mRight {
  /*left: 310px;*/
  width: 38px;
  /*top: 60px;*/
  background-color: white;

}
.mtopcrossbar {
  width:79px;
  height:3px;
  background:white;
  /*left: -82px;*/
  /*left:320px;*/
  /*top: 60px;*/
}

.mLeft2 {
  /*left:141px; */
  /*left:400px;*/
  /*top: 60px; */
  left: 80px;
}

.mtopcrossbar2 {
  width:66px;
  height:3px;
  background:white;
  /*left: -82px;*/
  /*left:70px;*/
  /*top: 0px; */
  left: 60px;
}

.nRight {
  /*left:350px; */
  width: 38px;
  /*top:60px;*/
  left: 0px;
}


.nbottomcrossbar {
  width:90px;
  height:4px;
  background:white;
  /*left: 380px;*/
  /*top:150px;*/
  transform: skew(0deg, 58deg);
  top: 75px;
  left: 32px;
}

.nLeft {
  /*left:141px; */
  /*left:100px; */
  /*top:-160px;*/
  left: 120px;
}

.oascender {
  width:3px;
  height:150px;
  background:white;
}

.oLeft {
  /*left:380px; */
  /*top: 60px;*/
  left: 110px;
}

.oRight {
  /*left:490px; */
  width: 37px;
  /*top: 60px;*/
}
.otopcrossbar {
  width:110px;
  height:3px;
  background:white;
  /*left: 380px;*/
  /*top: 60px;*/
}
.obottomcrossbar {
  width:107px;
  height:3px;
  background:white;
  /*left: 3px;*/
  /*top:147px;*/
  top:147px;
  left: 3px;
}

.pLeft {
  /*left:530px;*/
  /*top: 60px; */
  height: 80px;
  left: 110px;
  top: 1px;
}

.pRight {
  /*left:415px;*/ 
  width: 37px;
  background-color: white;
  /*top:60px;*/
}
.ptopcrossbar {
  width:79px;
  height:3px;
  background:white;
  /*left: 450px;*/
  /*top: 60px;*/
  left: 34px;
}
.pbottomcrossbar {
  width:78px;
  height:3px;
  background:white;
  /*left: 2px;*/
  /*top:76px;*/
  top: 80px;
  left: 35px;
}

.qascender {
  width:3px;
  height:150px;
  background:white;
}

.qLeft {
  /*left:540px; */
  /*top: 60px;*/
}

.qRight {
  /*left:505px; */
  width: 37px;
  /*top: 170px;*/
  height: 40px;
  left: 71px;
  top: 112px;
}
.qtopcrossbar {
  width:107px;
  height:3px;
  background:white;
  /*left: 422px;*/
  /*top: 60px;*/
  left: 0px;
}
.qbottomcrossbar {
  width:107px;
  height:3px;
  background:white;
  /*left: -1px;*/
  /*top:150px;*/
  top: 150px;

}

.qLeft2 {
  /*left:141px; */
  /*left:-2px;*/
  /*top: -1px;*/
  height: 152px; 
  left: 106px;
}

.rLeft {
  /*left:550px;*/
  /*top: 60px;*/ 
  height: 80px;
  left: 110px;
}

.rRight {
  /*left:430px; */
  width: 37px;
  background-color: white;
  /*top:60px;*/
}
.rtopcrossbar {
  width:92px;
  height:3px;
  background:white;
  /*left: 460px;*/
  /*top: 60px;*/
  left: 20px;
}
.rbottomcrossbar {
  width:90px;
  height:3px;
  background:white;
  /*left: 2px;*/
  /*top:76px;*/
  top: 80px;
  left: 23px;
}

.rbottomcrossbar2 {
  width:60px;
  height:4px;
  background:white;
  /*left: -1px;*/
  /*top:30px;*/
  transform: skew(0deg, 49deg);
  top: 112px;
  left:37px;
}

.sLeft {
  /*left:550px;*/
  /*top: 60px; */
  height: 30px;
  left: 104px;
}

.sRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: white;
  /*top:60px;*/
  height: 80px;
}
.stopcrossbar {
  width:92px;
  height:3px;
  background:white;
  /*left: 460px;*/
  /*top: 60px;*/
  top: 77px;
  left: 12px;
}
.sbottomcrossbar {
  width:90px;
  height:3px;
  background:white;
  /*left: 2px;*/
  /*top:76px;*/
  left: 14px;
}

.sRight2 {
  /*left:90px; */
  width: 3px;
  background-color: white;
  /*top:76px;*/
  height: 80px;
  left: 101px;
  top: 80px;
}

.sbottomcrossbar2 {
  width:87px;
  height:3px;
  background:white;
  /*left:6px;*/
  /*top:155px;*/
  top: 157px;
  left: 15px;
}

.sRight3 {
  /*left:-30px; */
  width: 40px;
  background-color: white;
  /*top:118px;*/
  height: 40px;
  top:120px;
}

.tRight {
  /*left:500px;*/ 
  width: 37px;
  /*top:60px;*/
  height: 160px;
  left:48px;
}

.tbottomcrossbar {
  width:140px;
  height:3px;
  background:white;
  /*left: 450px;*/
  /*top:60px;*/
}