body{
  margin-top: 300px;
  margin-right: 100px;
  margin-left: 100px;
}
.letter {
  position:relative;
  float:left;
  width:135px;
  height:160px;
  margin-right:10px;
  margin-bottom:10px;
}

.line{
      display: flex;
          margin-bottom: 29px;

}
.f{
      width: 115px;
}
.i {
  width:100px;

}
.m{
      width: 137px;
}
.n{
      width: 137px;
}
.j{
  transform: translateX(-59px);
  width: 80px;
}
.k{
  width: 118px;
}
.l{
  width: 120px;
}
.o{
      width: 125px;
}
.q{
      width: 129px;
}
.letter div {
   position:absolute;
}

.ascender {
  width:3px;
  height:150px;
  background:yellow;
}

.aLeft {
  /*left:141px; */
  left:117px; 
}

.aRight {
  /*left:-119px; */
  width: 38px;
  background-color: yellow;

}
.atopcrossbar {
  width:79px;
  height:3px;
  background:yellow;
  /*left: -82px;*/
  left:38px; 
}
.abottomcrossbar {
  width:79px;
  height:3px;
  background:yellow;
  right: -120px;
  left: 0px;
  top:76px;
}


.bascender {
  width:3px;
  height:150px;
  background:yellow;
}

.bLeft {
  /*left:124px; */
  left: 110px;
}

.bRight {
  /*left:0px; */
  width: 37px;
  background-color: yellow;
}
.btopcrossbar {
  width:79px;
  height:3px;
  background:yellow;
  /*left: 37px;*/
  left: 33px;
}
.bbottomcrossbar {
  width:78px;
  height:3px;
  background:yellow;
  /*left: 0px;*/
  /*top:76px;*/
  top: 76px;
  left: 2px;
}


.bbottomcrossbar2 {
  width:78px;
  height:3px;
  background:yellow;
  /*left: 0px;*/
  /*top:147px;*/
 top: 147px;
 left: 2px;
}

.cRight {
  /*left:0px; */
  width: 37px;
}

.ctopcrossbar {
  width:99px;
  height:3px;
  background:yellow;
  /*left: 35px;*/
  left: 22px;
}

.cbottomcrossbar {
  width:107px;
  height:3px;
  background:yellow;
  /*left: -5px;*/
  /*top:147px;*/
  left: 9px;
  top:147px;
}

.dascender {
  width:3px;
  height:150px;
  background:yellow;
}

.dLeft {
  /*left:187px; */
  left: 120px;
}

.dRight {
  /*left:56px;*/ 
  width: 37px;
}
.dtopcrossbar {
  width:99px;
  height:3px;
  background:yellow;
  /*left: 88px;*/
  left: 23px;
}
.dbottomcrossbar {
  width:107px;
  height:3px;
  background:yellow;
  /*left: -5px;*/
  /*top:147px;*/
  top:147px;
  left: 15px;
}
.eRight {
  /*left:90px; */
  width: 37px;
}
.etopcrossbar {
  width:107px;
  height:3px;
  background:yellow;
  /*left: 125px;*/

}
.ebottomcrossbar {
  width:83px;
  height:3px;
  background:yellow;
  /*left: -33px;*/
  /*top:76px;*/
  top:76px;
}



.ebottomcrossbar2 {
  width:113px;
  height:3px;
  background:yellow;
  /*left: 33px;*/
  /*top:71px;*/
  top: 147px; 
}

.fRight {
  /*left:123px;*/ 
  width: 37px;
}
.ftopcrossbar {
  width:99px;
  height:3px;
  background:yellow;
  /*left: 158px;*/
}
.fbottomcrossbar {
  width:83px;
  height:3px;
  background:yellow;
  /*left: -33px;*/
  /*top:76px;*/
  top: 76px;
}

.gascender {
  width:3px;
  height:150px;
  background:yellow;
}

.gLeft {
  /*top:78px;*/
  /*left: 251px;*/
  height: 78px; 
 left:107px;
 top: 71px;

}

.gRight {
  /*left: 130px;*/ 
  width: 37px;

}
.gtopcrossbar {
  width:101px;
  height:3px;
  background:yellow;
  /*left: 145px;*/
}

.gbottomcrossbar {
  /*left: 55px;*/
  width: 55px;
  height: 3px;
  background: yellow;
  /*top:77px;*/
  top: 70px;
  left: 55px;
}



.gbottomcrossbar2 {
  width:107px;
  height:3px;
  background:yellow;
  /*left: -56px;*/
  /*top:70px;*/
  top:147px;
  left: 3px;
}

.hascender {
  width:3px;
  height:150px;
  background:yellow;
}

.hLeft {
  /*left:260px; */
  left: 119px;
}

.hRight {
  /*left:138px; */
  width: 37px;
}
.htopcrossbar {
  width:99px;
  height:2px;
  background:yellow;
  /*left: 160px;*/
  /*top:78px;*/
  top:80px;
  left: 20px;
}



.iRight {
  /*left:160px; */
  width: 37px;
  left: 30px;
}

.jLeft {
  /*left:110px;*/
  height: 23px;
  /*bottom: 10px; */
  left: 49px;
  top: 125px;
}


.jRight {
  /*left:140px; */
  width: 37px;
  left: 73px;
}
.jtopcrossbar {
  width:61px;
  height:3px;
  background:yellow;
  /*left: 110px;*/
  /*top:147px;*/
  top:147px;
  /*right:25px;*/
  left: 49px;
}

.kRight {
  /*left:-1450px; */
  width: 37px;
  /*top:220px;*/
}

.ktopcrossbar {
  width:97px;
  height:4px;
  background:yellow;
  /*left: -1450px;*/
  /*top:289px;*/
  transform: skew(0deg, -54deg);
  left: 11px;
  top:68px;
}

.kbottomcrossbar {
  width:44px;
  height:4px;
  background:yellow;
  /*left: 24px;*/
  /*top:28px;*/
  transform: skew(0deg, 58deg);
  left: 55px;
  top: 110px;
}

.lRight {
  /*left:-1440px; */
  width: 37px;
  /*top:218px;*/
}

.lbottomcrossbar {
  width:107px;
  height:3px;
  background:yellow;
  /*left: -1420px;*/
  /*top:365px;*/
  top:147px;
}


.mLeft {
  left:125px;
  /*left:455px;*/ 
  /*top: 60px;*/
}


.mRight {
  /*left: 310px;*/
  width: 38px;
  /*top: 60px;*/
  background-color: yellow;

}

.mtopcrossbar {
  width:79px;
  height:3px;
  background:yellow;
  /*left: -82px;*/
  /*left:320px;*/
  /*top: 60px;*/
}

.mLeft2 {
  /*left:141px; */
  /*left:400px;*/
  /*top: 60px; */
  left: 80px;
}


.mtopcrossbar2 {
  width:66px;
  height:3px;
  background:yellow;
  /*left: -82px;*/
  /*left:70px;*/
  /*top: 0px; */
  left: 60px;
}

.nRight {
  /*left:350px; */
  width: 38px;
  /*top:60px;*/
  left: 0px;
}


.nbottomcrossbar {
  width:86px;
  height:4px;
  background:yellow;
  /*left: 380px;*/
  /*top:150px;*/
  transform: skew(0deg, 59deg);
  top: 79px;
  left: 38px;
}

.nLeft {
  /*left:141px; */
  /*left:100px; */
  /*top:-160px;*/
  left: 121px;
}

.oascender {
  width:3px;
  height:150px;
  background:yellow;
}

.oLeft {
  /*left:380px; */
  /*top: 60px;*/
  left: 110px;
}

.oRight {
  /*left:490px; */
  width: 3px;
  /*top: 60px;*/
}
.otopcrossbar {
  width:110px;
  height:3px;
  background:yellow;
  /*left: 380px;*/
  /*top: 60px;*/
}
.obottomcrossbar {
  width:107px;
  height:37px;
  background:yellow;
  /*left: 3px;*/
  /*top:147px;*/
  top:113px;
  left: 3px;
}

.pLeft {
  /*left:530px;*/
  /*top: 60px; */
  height: 80px;
  left: 110px;
  top: 1px;
}

.pRight {
  /*left:415px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
}
.ptopcrossbar {
  width:79px;
  height:3px;
  background:yellow;
  /*left: 450px;*/
  /*top: 60px;*/
  left: 34px;
}
.pbottomcrossbar {
  width:78px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  top: 80px;
  left: 35px;
}

.qascender {
  width:3px;
  height:150px;
  background:yellow;
}

.qLeft {
  /*left:540px; */
  /*top: 60px;*/
}

.qRight {
  /*left:505px; */
  width: 37px;
  /*top: 170px;*/
  height: 40px;
  left: 71px;
  top: 112px;
}

.qtopcrossbar {
  width:107px;
  height:3px;
  background:yellow;
  /*left: 422px;*/
  /*top: 60px;*/
  left: 0px;
}
.qbottomcrossbar {
  width:109px;
  height:3px;
  background:yellow;
  /*left: -1px;*/
  /*top:150px;*/
  top: 150px;
  left: 0px;

}

.qLeft2 {
  /*left:141px; */
  /*left:-2px;*/
  /*top: -1px;*/
  height: 152px; 
  left: 106px;
}

.rLeft {
  /*left:550px;*/
  /*top: 60px;*/ 
  height: 80px;
  left: 110px;
}

.rRight {
  /*left:430px; */
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
}
.rtopcrossbar {
  width:92px;
  height:3px;
  background:yellow;
  /*left: 460px;*/
  /*top: 60px;*/
  left: 20px;
}
.rbottomcrossbar {
  width:90px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  top: 80px;
  left: 23px;
}

.rbottomcrossbar2 {
  width:60px;
  height:4px;
  background:yellow;
  /*left: -1px;*/
  /*top:30px;*/
  transform: skew(0deg, 49deg);
  top: 112px;
  left:36px;
}

.sLeft {
  /*left:550px;*/
  /*top: 60px; */
  height: 30px;
  left: 104px;
}


.sRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 80px;
}
.stopcrossbar {
  width:92px;
  height:3px;
  background:yellow;
  /*left: 460px;*/
  /*top: 60px;*/
  top: 77px;
  left: 12px;
}
.sbottomcrossbar {
  width:90px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  left: 14px;
}

.sRight2 {
  /*left:90px; */
  width: 3px;
  background-color: yellow;
  /*top:76px;*/
  height: 80px;
  left: 101px;
  top: 80px;
}

.sbottomcrossbar2 {
  width:87px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 157px;
  left: 15px;
}

.sRight3 {
  /*left:-30px; */
  width: 40px;
  background-color: yellow;
  /*top:118px;*/
  height: 40px;
  top:120px;
}

.tRight {
  /*left:500px;*/ 
  width: 37px;
  /*top:60px;*/
  height: 150px;
  left:42px;
}


.tbottomcrossbar {
  width:121px;
  height:3px;
  background:yellow;
  /*left: 450px;*/
  /*top:60px;*/
  left: -1px;
}

.uRight {
  /*left:0px; */
  width: 3px;
  left: 0px;
}

.utopcrossbar {
  width:99px;
  height:3px;
  background:yellow;
  /*left: 35px;*/
  left: 20px;
}

.ubottomcrossbar {
  width:111px;
  height:38px;
  background:yellow;
  /*left: -5px;*/
  /*top:147px;*/
  left: 1px;
  top:113px;
}


.uRight2 {
  /*left:0px; */
  width: 3px;
  left: 110px;
}

.vRight {
  /*left:-1440px; */
  width: 37px;
  /*top:218px;*/
  transform: skew(15deg,0deg);
  left: 19px;
  top:0px;
}

.vRight2 {
  /*left:-1440px; */
  width: 3px;
  /*top:218px;*/
  transform: skew(-16deg,0deg);
  left: 95px;
  top:0px;
}

.wLeft {
  left:2px;
  /*left:455px;*/ 
  /*top: 60px;*/
}

.wRight {
  /*left: 310px;*/
  width: 38px;
  /*top: 60px;*/
  background-color: yellow;
  left: 86px;


}
.wtopcrossbar {
  width:79px;
  height:3px;
  background:yellow;
  /*left: -82px;*/
  /*left:320px;*/
  /*top: 60px;*/
  left: 4px;
  top:147px;
}

.wLeft2 {
  /*left:141px; */
  /*left:400px;*/
  /*top: 60px; */
  left: 46px;
}


.wtopcrossbar2 {
  width:66px;
  height:3px;
  background:yellow;
  /*left: -82px;*/
  /*left:70px;*/
  /*top: 0px; */
  left: 58px;
  top: 147px;
}

.xRight {
    /* left: -1440px; */
    width: 3px;
    /* top: 218px; */
    transform: skew(-34deg,0deg);
    left: 61px;
    top: 0px;
  }

.xRight2 {
    /* left: -1440px; */
    width: 37px;
    /* top: 218px; */
    transform: skew(32deg,0deg);
    left: 49px;
    top: 3px;
  }


.yLeft {
  /*left:124px; */
  left: 105px;
  height: 211px;
  top: 12px;
}

.yRight {
  /*left:0px; */
  width: 37px;
  background-color: yellow;
  top: 13px;
  height: 140px;
  left: 0px;
}
.ytopcrossbar {
  width:109px;
  height:3px;
  background:yellow;
  /*left: 37px;*/
  left: 0px;
  top: 220px;
}

.ybottomcrossbar2 {
  width:78px;
  height:3px;
  background:yellow;
  /*left: 0px;*/
  /*top:147px;*/
 top: 150px;
 left: 31px;
}

.zRight {
  /*left:0px; */
  width: 37px;
  left: 48px;
  transform: skew(-41deg,0deg);
  top: 11px;
  height: 135px;
}

.ztopcrossbar {
  width:139px;
  height:3px;
  background:yellow;
  /*left: 35px;*/
  left: 2px;
  top:10px;
}

.zbottomcrossbar {
  width:143px;
  height:3px;
  background:yellow;
  /*left: -5px;*/
  /*top:147px;*/
  left: -12px;
  top:146px;
}


.spacer {
  clear:both;
  height:80vh; 
}

.spacer2 {
  clear:both;
  height:107vh;
  align-content: center;
  margin-bottom: -330px; 
}

.typeName{
  width: 692px;
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
}

.oneRight {
 left:68px; 
  width: 37px;
  /*top:218px;*/
  height: 160px;
}

.onebottomcrossbar {
  width:34px;
  height:3px;
  background:yellow;
  /*left: -1420px;*/
  /*top:365px;*/
  left:39px;
}

.twoRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 80px;
  left: 67px;
}
.twotopcrossbar {
  width:76px;
  height:3px;
  background:yellow;
  /*left: 460px;*/
  /*top: 60px;*/
  top: 77px;
  left: -3px;
}
.twobottomcrossbar {
  width:90px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  left: -5px;
}

.twoRight2 {
  /*left:90px; */
  width: 3px;
  background-color: yellow;
  /*top:76px;*/
  height: 80px;
  left: -3px;
  top: 80px;
}

.twobottomcrossbar2 {
  width:87px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 157px;
  left: -3px;
}

.twoRight3 {
  /*left:-30px; */
  width: 40px;
  background-color: yellow;
  /*top:118px;*/
  height: 40px;
  left:64px;
  top:120px;
}

.threeRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 156px;
  left: 67px;
  top: 0px;
}
.threetopcrossbar {
  width:92px;
  height:3px;
  background:yellow;
  /*left: 460px;*/
  /*top: 60px;*/
  top: 77px;
  left: 12px;
}
.threebottomcrossbar {
  width:90px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  left: 2px;
  top:-1;
}

.threeRight2 {
  /*left:90px; */
  width: 3px;
  background-color: yellow;
  /*top:76px;*/
  height: 80px;
  left: 101px;
  top: 80px;
}

.threebottomcrossbar2 {
  width:87px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 154px;
  left: 0px;
}


.fourRight {
  /*left:415px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  left: 76px;
  height: 160px;
}
.fourbottomcrossbar {
  width:90px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  top: 80px;
  left: -11px;
}

.fourLeft {
  /*left:530px;*/
  /*top: 60px; */
  height: 81px;
  left: -12px;
  top: 1px;
}

.fiveRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 80px;
}
.fivetopcrossbar {
  width:92px;
  height:3px;
  background:yellow;
  /*left: 460px;*/
  /*top: 60px;*/
  top: 77px;
  left: 12px;
}
.fivebottomcrossbar {
  width:90px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  left: 14px;
}

.fiveRight2 {
  /*left:90px; */
  width: 3px;
  background-color: yellow;
  /*top:76px;*/
  height: 80px;
  left: 101px;
  top: 80px;
}

.fivebottomcrossbar2 {
  width:87px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 157px;
  left: 15px;
}

.fiveRight3 {
  /*left:-30px; */
  width: 40px;
  background-color: yellow;
  /*top:118px;*/
  height: 40px;
  top:120px;
}


.sixRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 160px;
}
.sixtopcrossbar {
  width:92px;
  height:3px;
  background:yellow;
  /*left: 460px;*/
  /*top: 60px;*/
  top: 77px;
  left: 12px;
}
.sixbottomcrossbar {
  width:90px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  left: 14px;
}

.sixRight2 {
  /*left:90px; */
  width: 3px;
  background-color: yellow;
  /*top:76px;*/
  height: 80px;
  left: 101px;
  top: 80px;
}

.sixbottomcrossbar2 {
  width:87px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 157px;
  left: 15px;
}


.sevenRight {
 left:68px; 
  width: 37px;
  /*top:218px;*/
  height: 160px;
}

.sevenbottomcrossbar {
  width:104px;
  height:3px;
  background:yellow;
  /*left: -1420px;*/
  /*top:365px;*/
  left:0px;
}

.eightLeft {
  /*left:124px; */
  left: 0px;
  top:0px;
  height: 159px;
}

.eightRight {
  /*left:0px; */
  width: 37px;
  background-color: yellow;
  left: 74px;
  height: 158px;
}
.eighttopcrossbar {
  width:79px;
  height:3px;
  background:yellow;
  /*left: 37px;*/
  left: 2px;
}
.eightbottomcrossbar {
  width:78px;
  height:3px;
  background:yellow;
  /*left: 0px;*/
  /*top:76px;*/
  top: 76px;
  left: 0px;
}


.eightbottomcrossbar2 {
  width:78px;
  height:3px;
  background:yellow;
  /*left: 0px;*/
  /*top:147px;*/
 top: 156px;
 left: 2px;
}

.nighnRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 162px;
  left: 73px;
  top: -2px;
}
.nighntopcrossbar {
  width:92px;
  height:3px;
  background:yellow;
  /*left: 460px;*/
  /*top: 60px;*/
  top: -1px;
  left: -3px;
}
.nighnbottomcrossbar {
  width:90px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  left: 0px;
  top: 77px;
}

.nighnRight2 {
  /*left:90px; */
  width: 3px;
  background-color: yellow;
  /*top:76px;*/
  height: 80px;
  left: -3px;
  top: 0px;
}

.nighnbottomcrossbar2 {
  width:87px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 157px;
  left: 1px;
}

.zeroLeft {
  /*left:187px; */
  left: -6px;
  top: 0px;
  height: 156px;
}

.zeroRight {
  /*left:56px;*/ 
  width: 37px;
  left: 78px;
  height: 158px;
}
.zerotopcrossbar {
  width:99px;
  height:3px;
  background:yellow;
  /*left: 88px;*/
  left: -7px;
}
.zerobottomcrossbar {
  width:107px;
  height:3px;
  background:yellow;
  /*left: -5px;*/
  /*top:147px;*/
  top:155px;
  left: -6px;
}


.spacer3 {
  clear:both;
  height:10vh; 
}


.spacer4 {
  clear:both;
  height:5vh; 
}

.spacer5 {
  clear:both;
  height:5vh; 
}

.spacer6 {
  clear:both;
  height:5vh; 
}

.spacer7 {
  clear:both;
  height:5vh; 
}

.spacer8 {
  clear:both;
  height:10vh; 
}


.exRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 160px;
}

.exRight3 {
  /*left:-30px; */
  width: 3px;
  background-color: yellow;
  /*top:118px;*/
  height: 40px;
  top:165px;
}

.exRight33 {
  /*left:-30px; */
  width: 3px;
  background-color: yellow;
  /*top:118px;*/
  height: 40px;
  top:164px;
  left: 32px;
}

.qmarkRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 80px;
  left: 67px;
}
.qmarktopcrossbar {
  width:46px;
  height:3px;
  background:yellow;
  /*left: 460px;*/
  /*top: 60px;*/
  top: 77px;
  left: 28px;
}
.qmarkbottomcrossbar {
  width:90px;
  height:3px;
  background:yellow;
  /*left: 2px;*/
  /*top:76px;*/
  left: -5px;
}

.qmarkRight2 {
  /*left:90px; */
  width: 3px;
  background-color: yellow;
  /*top:76px;*/
  height: 80px;
  left: 27px;
  top: 80px;
}

.qmarkbottomcrossbar2 {
  width:39px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 157px;
  left: 27px;
}

.qmarkRight3 {
  /*left:-30px; */
  width: 40px;
  background-color: yellow;
  /*top:118px;*/
  height: 40px;
  left:-6px;
  top:0px;
}


.spacer9 {
  clear:both;
  height:9vh; 
}

.qmarkRight3 {
  /*left:-30px; */
  width: 37px;
  background-color: yellow;
  /*top:118px;*/
  height: 40px;
  top:166px;
  left: 28px;
}

.exbottomcrossbar22 {
  width:35px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 201px;
  left: 0px;
}

.exbottomcrossbar2 {
  width:34px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 165px;
  left: 1px;
}

.comaRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 40px;
  top: 126px;
  left: 30px;
}

.comaRight3 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 59px;
  top:165px;
  left: 25px;
  transform: skew(-11deg,0deg);
}

.comaRight33 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 59px;
  top:164px;
  left: 59px;
  transform: skew(-11deg, 0deg);
}

.comabottomcrossbar22 {
  width:35px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 225px;
  left: 19px;
}

.doublecomaRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 40px;
  top: 2px;
}

.doublecomaRight3 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 59px;
  top:43px;
  left: -6px;
  transform: skew(-11deg,0deg);
}

.doublecomaRight33 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 59px;
  top:42px;
  left: 29px;
  transform: skew(-11deg, 0deg);
}

.doublecomabottomcrossbar22 {
  width:37px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 101px;
  left: -12px;
}

.doublecomaRight1 {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 40px;
  top: 3px;
  left: 55px;
}

.doublecomaRight3333 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 59px;
  top:41px;
  left: 49px;
  transform: skew(-11deg,0deg);
}

.doublecomaRight333 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 62px;
  top:43px;
  left: 85px;
  transform: skew(-11deg, 0deg);
}

.doublecomabottomcrossbar222 {
  width:39px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 101px;
  left: 42px;
}


.downcomaRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 40px;
  top: 67px;
  left: -12px;
}

.downcomaRight3 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 59px;
  top:6px;
  left: -6px;
  transform: skew(-11deg,0deg);
}

.downcomaRight33 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 59px;
  top:7px;
  left: 29px;
  transform: skew(-11deg, 0deg);
}

.downcomabottomcrossbar22 {
  width:37px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 4px;
  left: 0px;
}

.downcomaRight1 {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 40px;
  top: 66px;
  left: 43px;
}

.downcomaRight3333 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 59px;
  top:7px;
  left: 50px;
  transform: skew(-11deg,0deg);
}

.downcomaRight333 {
  /*left:-30px; */
  width: 2px;
  background-color: yellow;
  /*top:118px;*/
  height: 59px;
  top:6px;
  left: 84px;
  transform: skew(-11deg, 0deg);
}

.downcomabottomcrossbar222 {
  width:35px;
  height:3px;
  background:yellow;
  /*left:6px;*/
  /*top:155px;*/
  top: 4px;
  left: 56px;
}

.periodRight {
  /*left:430px;*/ 
  width: 37px;
  background-color: yellow;
  /*top:60px;*/
  height: 40px;
  top: 126px;
  left: 30px;
}





.threedelay {

  animation-delay: 3s;
}
.fivedelay {
  animation-delay: 5s;
}