body {
	background: #cccccc;
}

.stage {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

h1{
	font: helvetica;
	font-size: 20px;
	color: white;
	position: absolute;
    top: 232px;
    left: 360px;
	z-index:10;
	transform:rotate(10deg);
}
#square3 {
	width: 45px;
	height: 69px;
	background: lightgray;
	top: 166px;
	left: 620px;
	position: absolute;
	transform: rotate(100deg);
z-index: 10}


#square {
	width: 400px;
	height: 200px;
	background: gray;
	top: 203px;
	left: 270px;
	position: absolute;
	transform: rotate(10deg);}



#square2 {
	width: 400px;
	height: 59px;
	background: black;
	top: 146px;
	left: 292px;
	position: absolute;
	transform: rotate(10deg);

	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */

}

#square4 {
	width: 200px;
	height: 59px;
	background: black;
	top: 146px;
	left: 292px;
	position: absolute;
	transform: rotate(10deg);}

#circle {
	width: 90px;
	height: 90px;
	background: darkgray;
	border-radius: 150px;
	top: 250px;
	left: 428px;
	position: absolute;
}

#circle2 {
	width: 80px;
	height: 80px;
	background: darkgray;
	border-radius: 150px;
	top: 279px;
	left: 550px;
	position: absolute;
}

#circle3 {
	width: 80px;
	height: 80px;
	background: darkgray;
	border-radius: 150px;
	top: 237px;
	left: 311px;
	right: 141px;
	position: absolute;
}



/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/