body {

}

.stage {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: beige;
	position: relative;
}

h1{
	font: helvetica;
	font-size: 20px;
	color: white;
	position: absolute;
    top: 249px;
    left: 341px;
	z-index:10;
	transform:rotate(1deg);
}
#square3 {
	width: 45px;
	height: 69px;
	background: lightgray;
	top: 148px;
	left: 570px;
	position: absolute;
	transform: rotate(91deg);
z-index: 10;
border: 2px solid black;}


#square {
	width: 400px;
	height: 200px;
	background: gray;
	top: 202px;
	left: 245px;
	position: absolute;
	transform: rotate(3deg);
	}



#square2 {
	width: 405px;
	height: 67px;
	background: black;
	top: 147px;
	left: 274px;
	bottom: 304px;
	position: absolute;
	transform: skew(-3deg,2deg);

	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */

}

#square4 {
	width: 60px;
	height: 255px;
	background: black;
	top: 147px;
	left: 224px;
	position: absolute;
	transform: skew(0deg,-15deg;}

#square5 {
	width: 40px;
	height: 243px;
	background: black;
	top: 169px;
	left: 639px;
	position: absolute;
	transform: skew(0deg, 359deg);
}


#circle {
	width: 95px;
	height: 90px;
	background: black;
	border-radius: 150px;
	top: 251px;
	left: 418px;
	position: absolute;
	border: 6px solid darkgray;
}

#circle2 {
	width: 80px;
	height: 80px;
	background: darkgray;
	border-radius: 150px;
	top: 264px;
	left: 550px;
	position: absolute;
	border: 2px solid black;
}

#circle3 {
	width: 80px;
	height: 80px;
	background: darkgray;
	border-radius: 150px;
	top: 260px;
	left: 311px;
	right: 141px;
	position: absolute;
	border: 2px solid black;
}

#square6 {
	width: 400px;
	height: 59px;
	background: black;
	top: 146px;
	left: 292px;
	position: absolute;
	transform: rotate(10deg);
}


#square7 {
	width: 40px;
	height: 243px;
	background: black;
	top: 169px;
	left: 639px;
	position: absolute;
	transform: skew(0deg, 359deg);
}

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/